.periodic-table-container {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 15vw;
  padding-bottom: 5vw;
}
.periodic_table {
  width: 100%;
  margin-top: 3vh;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 5.6vw);
  justify-items: center;
  cursor: default;
}

.bullets1 {
  grid-column: 3 / span 5;
  grid-row: 1;
  font-size: 1.5vw;
  line-height: 3vw;
  margin-top: 2vw;
  font-family: 'Comfortaa', cursive;
}

.bullets2 {
  grid-column: 8 / span 3;
  grid-row: 1;
  font-size: 1.5vw;
  line-height: 3vw;
  margin-top: 2vw;
  font-family: 'Comfortaa', cursive;
}

#nonmetal {
  color: #008BFF;
}
#alkali-metal {
  color: #FF0000;
}
#alkaline-earth-metal {
  color: #FF7F00;
}
#transition-metal {
  color: #FFFF00;
}
#post-transition-metal {
  color: #00FF00;
}
#metalloid {
  color: #0000FF;
}
#halogen {
  color: #9400D3;
}
#noble-gas {
  color: #4B0082;
}
#lanthanide {
  color: #D0FF00;
}
#actinide {
  color: #83A100;
}


#H {
  grid-column: 1 / span 1;
}
#He {
  grid-column: 18 / span 1;
}

#B {
  grid-column: 13 / span 1;
}

#Al {
  grid-column: 13 / span 1;
}

#Hf {
  grid-column: 4 / span 1;
  grid-row: 6 / span 1;
}

#La {
  grid-column: 2 / span 1;
  grid-row: 9 /span 1;
}

#Ce {
  grid-column: 3 / span 1;
  grid-row: 9 /span 1;
}

#Pr {
  grid-column: 4 / span 1;
  grid-row: 9 /span 1;
}

#Nd {
  grid-column: 5 / span 1;
  grid-row: 9 /span 1;
}

#Pm {
  grid-column: 6 / span 1;
  grid-row: 9 /span 1;
}

#Sm {
  grid-column: 7 / span 1;
  grid-row: 9 /span 1;
}

#Eu {
  grid-column: 8 / span 1;
  grid-row: 9 /span 1;
}

#Gd {
  grid-column: 9 / span 1;
  grid-row: 9 /span 1;
}

#Tb {
  grid-column: 10 / span 1;
  grid-row: 9 /span 1;
}

#Dy {
  grid-column: 11 / span 1;
  grid-row: 9 /span 1;
}

#Ho {
  grid-column: 12 / span 1;
  grid-row: 9 /span 1;
}

#Er {
  grid-column: 13 / span 1;
  grid-row: 9 /span 1;
}

#Tm {
  grid-column: 14 / span 1;
  grid-row: 9 /span 1;
}

#Yb {
  grid-column: 15 / span 1;
  grid-row: 9 /span 1;
}

#Lu {
  grid-column: 16 / span 1;
  grid-row: 9 /span 1;
}

#Ac {
  grid-column: 2 / span 1;
  grid-row: 10 /span 1;
}

#Th {
  grid-column: 3 / span 1;
  grid-row: 10 /span 1;
}

#Pa {
  grid-column: 4 / span 1;
  grid-row: 10 /span 1;
}

#U {
  grid-column: 5 / span 1;
  grid-row: 10 /span 1;
}

#Np {
  grid-column: 6 / span 1;
  grid-row: 10 /span 1;
}

#Pu {
  grid-column: 7 / span 1;
  grid-row: 10 /span 1;
}

#Am {
  grid-column: 8 / span 1;
  grid-row: 10 /span 1;
}

#Cm {
  grid-column: 9 / span 1;
  grid-row: 10 /span 1;
}

#Bk {
  grid-column: 10 / span 1;
  grid-row: 10 /span 1;
}

#Cf {
  grid-column: 11 / span 1;
  grid-row: 10 /span 1;
}

#Es {
  grid-column: 12 / span 1;
  grid-row: 10 /span 1;
}

#Fm {
  grid-column: 13 / span 1;
  grid-row: 10 /span 1;
}

#Md {
  grid-column: 14 / span 1;
  grid-row: 10 /span 1;
}

#No {
  grid-column: 15 / span 1;
  grid-row: 10 /span 1;
}

#Lr {
  grid-column: 16 / span 1;
  grid-row: 10 /span 1;
}
