<h1>This is a Molecular Mass Calculator!</h1>
<p>Enter a Molecule of Your Choice</p>
<p>and Calculate how many Grams Equal</p>
<p>One Mole</p>
<p>There's One Catch, You Must Enter</p>
<p>The Molecular Formula Correctly</p>
<p>Follow the Example of Glucose Below!</p>
<div *ngIf='mole_mass'>
  <p>The molecule {{mole_mass.molecule}}</p>
  <p>Has a mass of {{mole_mass.molecular_mass}} grams</p>
</div>
<input #new_molecule><button (click)="showMass(new_molecule.value)">Calculate Mass</button>

<img *ngIf='!mole_mass' src="../../assets/images/gif-loading-icon-16.gif"/>
